.nav{
    display: flex;
    justify-content: space-between;
    background: #ee7e63;
    heigh:70px;
    
}
/* ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
} */

a{
    text-decoration: none;
    margin-left: 30px;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: bold;
}
.title{
    display: flex;
    color:#fff;
}